/* 1o5 means 1.5x */

.mb-1x-input-gap {
    margin-bottom: calc(1 * var(--input-gap));
}

.mb-1o5x-input-gap {
    margin-bottom: calc(1.5 * var(--input-gap));
}

.mb-2x-input-gap {
    margin-bottom: calc(2 * var(--input-gap));
}

.mb-2o5x-input-gap {
    margin-bottom: calc(2.5 * var(--input-gap));
}

.mb-3x-input-gap {
    margin-bottom: calc(3 * var(--input-gap));
}

.ml-2 {
    margin-left: 2rem;
}

.h-100 {
    height: 10rem;
}

.h-150 {
    height: 15rem;
}

.h-200 {
    height: 20rem;
}

.h-300 {
    height: 30rem;
}